/* sass --watch main.scss */

@import url(http://fonts.googleapis.com/css?family=Noto+Sans);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,500);

$font-stack: Helvetica, sans-serif;
$header-font-family:'Raleway'; 
$secondary-font:'Open';
$third-color:#c98e8e; 
$primary-color: #c0d6e4;
$color:white;  
$font-size:16px;
$bigger-size:20px;
$padding:1em;  

body {
  background-color:lighten($primary-color,10%);
  font-size:$font-size;  
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    color:black; 
}


header {
  font-size:$font-size*3; 
  text-align: center; 
  font-family: $header-font-family, 'Helvetica Neue'; 
  background-color: lighten($third-color,10%); 
  padding:$padding*2; 
  color: $color; 
}

#info {
    position: absolute;
    right: 60px;
    width: 400px;
    background-color:lighten($third-color,25%);
    top:630px; 
}

h1 {
  $bigger-size:20px;
  left:20px; 
  color:darken($primary-color, 40%);  
}

h6{
  color:lighten($primary-color, 5%); 
}

#nav {

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color:darken($primary-color, 20%); 
  }

  li { 
  display: inline-block; 
  }

  a {
    display: block;
    color:$color; 
    font-family:$secondary-font; 
    padding: 7px 30px;
    font-size:$bigger-size; 
    text-decoration: none;
  }
}

footer {
  color:$color; 
  padding:$padding; 
  text-align:center; 
  background-color: lighten($third-color,10%); 
}